h4{
	margin-left: 355px;
    margin-top: 130px
}
.intro{
	text-align: center;
	padding:0px 230px;
	font-size: 28px;
}
.superior, .inferior{
	margin-left: 380px;
}
hr{
	width: 100px;	
}
.img{
	display: inline-block;
	position: relative;
}

.uno{
	z-index: 4;
    position: relative;
    bottom: 50px;
    left: 64px;
    color: white;
}
.dos{
	z-index: 4;
    position: relative;
    bottom: 50px;
    left: 64px;
    color: white;
}